<!DOCTYPE html>
<html lang="en">

<head>
    <% include header %>

</head>

<body>
    <% include navBar %>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong> About </strong>Me
                    </h2>
                        <h2 class="intro-text text-center"><strong>If you're not living on the edge, you're missing the view.</strong></h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/star.jpg" alt="">
                    <h2>And a Star was born!
                        <br>
                        <small>March 14, 1990</small>
                    </h2>
                    <p>It was a nice summer afternoon in the suburbs of Bombay when I was born. My parents decided to name me Albert Cosme Monteiro. The name Albert was just a name that my dad liked a lot and so it stuck. Little did he know that March 14th was the birthday of the great Star Albert Einstein. So yes, the star I was referring to is the great Albert Einsteing. So Einstein and I share the same birthday. But that's not where the coincidence ends; believe it or not, we also share the same birth tiem.</p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/engineer.jpg" alt="">
                    <h2>Wannabe Engineer
                        <br>
                        <small>May, 2013</small>
                    </h2>
                    <p>Yeah, that's what my friends would call me - 'Wannabe Engineer'. There is a saying in India, 'You first become an engineer and then decide what you want to do in life'. Well in my friend's circle, I was one of three people who decided to do their engineering. Like my father, I too was more inclined to do something mechanical oriented. So I began looking for Mechanical Engineering programs. When I was all out of options I chose to go for IT. My first year was horrible and I did very bad in school. I had to take a break the next year to boost my grades. This is where I got private tutoring for C++ and fell in love with programming. I believe if it was not for doing bad in my first year, I would probably never had liked programming.</p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/india_canada.png" alt="">
                    <h2>Canada Bound
                        <br>
                        <small>December 29, 2013</small>
                    </h2>
                    <p>This was the day I left India. It was a very bitter sweet moment for me. I said goodbye to my family and friends in hope for a better life and prospects. Yes the struggle was difficult but I believe<strong> if you set your mind to something you can move a mountain.</strong> I'm currently doing the Software Engineering Technology program at Centennial College. I must mention, I like the systems here in Canada and can totally see myself settling down.</p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <!--<div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <% include footer %>
    </footer>

</body>

</html>
