<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Albert Monteiro at Centennial College</p>
                </div>
            </div>
        </div>