<!DOCTYPE html>
<html lang="en">

<head>
<% include header %>
</head>

<body>
<% include navBar%>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">What is a
                        <strong> team </strong>to me?
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/team.png" alt="">
                </div>
                <div class="col-md-6">
                    <p>I am a strong believer in working as a team. It's very vital that the team work as one entity. Communication must flow well and it helps if everyone is on the same wavelength. I value working with teams and always have great respect toward my team members.</p>
                    <p>However, I also believe that it is important to have a mix of people who think differently. This would help in getting various opinions as opposed to one way of thinking. This is a very key feature when working on new products. Having people of different mindsets can bring a critical element to the team which is<strong> ideas.</strong></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">My
                        <strong> Projects </strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/erp.png" alt="">
                    <h3>ERP Systems<br>
                        <small>Analyst | Designer</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/easy_cook.png" alt="">
                    <h3>Easy Cook<br>
                        <small>Manager | Designer</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/dynamic_thumbnails.png" alt="">
                    <h3>Dynamic Thumbnails<br>
                        <small>Designer | Developer</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <$ include footer %>
    </footer>

</body>

</html>
