<!DOCTYPE html>
<html lang="en">

<head>
    <% include header %>

</head>

<body>
    <% include navBar %>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">My
                        <strong> Services </strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/developer.jpg" alt="">
                    <h2>Developer
                        <br>
                        <small>C | C++ | C# | Java | Typescript | Javascript | HTML | CSS | SQL</small>
                    </h2>
                    <p>My love for writing code began in the summer of 2009. A private tutor Mr. Junaid Katheeb, thought me how to write good code efficiently. He opened a whole new world for me; made me fall in love with coding. All of a sudden the same courses I had done miserably bad in, I started doing exceptionally well. This is when I realized IT was something I would actually want to do professionally. This is why I strongly believe that<strong> everything happens for a reason.</strong></p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/project_management.jpg" alt="">
                    <h2>IT Project Manager
                        <br>
                        <small>In the making</small>
                    </h2>
                    <p>I have a keen sense of perfection and like managing things. I've almost always been the leader in our group projects throughout my education. While at CIBC, I was made project manager for a small project. This gave me great exposure into what it is to be a project manager in the real world. I had to come up with a project timeline, get the dates approved by senior executives, arrange for status meetings with business leads, developers and testers. I loved it and believe I will one day become a really efficient project manager.</p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/testing.png" alt="">
                    <h2>Tester
                        <br>
                        <small>Manual tester</small>
                    </h2>
                    <p>My co-op term at CIBC also allowed me to experience the role of a tester. I did a little bit of manual testing at CIBC and liked the job profile. I can see myself in the shoes of a test analyst.</p>
                    <!--<a href="#" class="btn btn-default btn-lg">Read More</a>-->
                    <hr>
                </div>
                <!--<div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <% include footer %>
    </footer>

</body>

</html>
